---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Translate">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">Translate</h1>
    <p class="text-lg">Translate text from one language to another.</p>
  </div>
</Layout>
